.container
  %h1 Employee#index
  .pull-right
    = link_to new_employee_path do
      %button.btn.btn-success.btn-sm{:role=> "button"}
        %i.glyphicon.glyphicon-plus
          Employee

  %table.table.table-striped
    %thead
      %tr
        %th Photo
        %th Name
        %th Honorifics
        %th Counseling Hours
        %th Department
        %th Edit
        %th Delete

    %tbody
    - @employees.each do |employee|
      %tr
        %td= image_tag(employee.photo.thumb.url)
        %td= employee.name
        %td= employee.honorifics
        %td= raw employee.counseling_hours
        %td= employee.department.name
        %td
          = link_to edit_employee_path(employee) do
            %button.btn.btn-success.btn-sm{:role=>"button"}
              %i.glyphicon.glyphicon-edit
              Edit Employee
        %td
          = link_to employee, method: :delete, data: {confirm: 'Do you want to delete this employee?', verify: 'Delete', verify_text: 'Type "Delete" to confirm'} do
            %button.btn.btn-danger.btn-sm{:role=>"button"}
              %i.glyphicon.glyphicon-trash
                Delete
