#sidebar.col-sm-2.col-md-2.sidebar-offcanvas{:role => "navigation"}
  %ul.nav.nav-sidebar.list-group.panel
    %li
      %a{"data-toggle" => "collapse", :href => "#depts"}
        %span.glyphicon.glyphicon-off
        = "Academic Programs"
      #depts.panel-collapse.collapse
        %ul.list-group
          - @departments.each do |department|
            %li.list-group-item
              = link_to department_path(department) do
                %span.glyphicon.glyphicon-chevron-right
                = department.name
    %li
      = link_to about_engineering_path do
        %span.glyphicon.glyphicon-user
        = "About Engineering"
    %li
      = link_to student_life_path do
        %span.glyphicon.glyphicon-lock
        = "Student Life"
    %li
      = link_to study_in_cpu_path do
        %span.glyphicon.glyphicon-envelope
        = "Study In CPU"
    %li
      = link_to news_index_path do
        %span.glyphicon.glyphicon-list
        = "News"
    %li
      = link_to events_path do
        %span.glyphicon.glyphicon-signal
        = "Events"
    %li
      = link_to contact_us_path do
        %span.glyphicon.glyphicon-earphone
        = "Contact Us"
