

.container
  %h1 Department#index
  .pull-right
    = link_to new_department_path do
      %button.btn.btn-success.btn-sm{:role=> "button"}
        %i.glyphicon.glyphicon-plus
          Department

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th About
        %th Message
        %th Vision
        %th Mission
        %th History
        %th Logo
        %th Employees
        %th Linkages
        %th Edit
        %th Delete
        %th Manage

    %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= raw department.about
        %td= raw department.message
        %td= raw department.vision
        %td= raw department.mission
        %td= raw department.history
        %td= image_tag(department.logo.thumb.url)
        %td
          -department.employees.each do |employee|
            %ul
              %li= employee.name
        %td
          -department.linkages.each do |linkage|
            %ul
              %li= linkage.name
        -# %td
        -#   = link_to edit_department_path(department) do
        -#     %button.btn.btn-success.btn-sm{:role=>"button"}
        -#       %i.glyphicon.glyphicon-edit
        -#       Edit Department
        -# %td
        -#   = link_to department, method: :delete, data: {confirm: 'Do you want to delete this department?', verify: 'Delete', verify_text: 'Type "Delete" to confirm'} do
        -#     %button.btn.btn-danger.btn-sm{:role=>"button"}
        -#       %i.glyphicon.glyphicon-trash
        -#         Delete
        %td
          %ul
            %li{:style => "padding:2px"}
              = link_to edit_department_path(department) do
                %button.btn.btn-success.btn-sm{:role=>"button"}
                  %i.glyphicon.glyphicon-edit
                  Edit Department

            %li{:style => "padding:2px"}
              = link_to new_department_research_path(department) do
                %button.btn.btn-success.btn-sm{:role=>"button"}
                  %i.glyphicon.glyphicon-plus
                  Research

            %li{:style => "padding:2px"}
              = link_to department, method: :delete, data: {confirm: 'Do you want to delete this news?', verify: 'Delete', verify_text: 'Type "Delete" to confirm'} do
                %button.btn.btn-danger.btn-sm{:role=>"button"}
                  %i.glyphicon.glyphicon-trash
                  Delete
