-# TODO dapat pwede kaubra ang user carousel,
-# either mapili sya events/news or maubra sya custom(upload pic kg butangan caption)

-# TODO make images height equal DONE
-# TODO make the title text look better. D:


-# IMAGES SHOULD BE AT MOST 635x250 px in height


.row.row-offcanvas.row-offcanvas-left
	= render "shared/sidebar"
	.col-sm-9.col-md-10.main
		%p.visible-xs
			%button.btn.btn-primary.btn-xs{"data-toggle" => "offcanvas", :type => "button"}
				%i.glyphicon.glyphicon-chevron-left
		#main-content.row
			%ul.bxslider
				- @articles.each do |article|
					- a = article.specific
					%li
						- if a.is_a? News
							= link_to news_path(a) do
								= image_tag(article.image.carousel.url, title: a.content)
						- elsif a.is_a? Event
							= link_to event_path(a) do
								= image_tag(article.image.carousel.url, title: a.content)
