-# TODO dapat pwede kaubra ang user carousel,
-# either mapili sya events/news or maubra sya custom(upload pic kg butangan caption)

-# TODO make images height equal DONE
-# TODO make the title text look better. D:


-# IMAGES SHOULD BE AT MOST 635x250 px in height
.row
	.col-sm-6.col-sm-offset-1
		.header-img
			%img.img-responsive.header-img{:alt => "Logo", :src => "/statics/engilogo.png"}
.row.row-offcanvas.row-offcanvas-left
	= render "shared/sidebar"
	.col-sm-12.col-md-10.main.content
		%p.visible-xs.visible-sm
			%button.btn.btn-primary.btn-md{"data-toggle" => "offcanvas", :type => "button"}
				%i.glyphicon.glyphicon-chevron-left
		#main-content
			%ul.bxslider
				- @articles.each do |article|
					- a = article.specific
					%li
						- if a.is_a? News
							= link_to news_path(a) do
								= image_tag(article.image.carousel.url, title: a.caption)
						- elsif a.is_a? Event
							= link_to event_path(a) do
								= image_tag(article.image.carousel.url, title: a.caption)
		-# %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet leo auctor, tincidunt ipsum non, rhoncus est. Suspendisse blandit leo vel mi imperdiet condimentum. Nulla facilisi. Nullam pellentesque facilisis ligula, vitae bibendum justo rutrum vitae. Phasellus scelerisque venenatis tempus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam convallis, ante ut scelerisque ultricies, lorem dolor dictum lectus, et aliquam nisl dolor nec massa. Aenean ullamcorper facilisis facilisis. Nullam tempor nisl felis, eu malesuada sem rutrum ut. Mauris commodo viverra ipsum at euismod. Cras ac maximus lacus, vel rutrum tortor. Fusce ut justo gravida, tincidunt eros eget, vestibulum purus. Nullam nunc augue, luctus at massa et, sagittis pellentesque magna. Nunc convallis turpis at pretium fermentum. Maecenas interdum magna ut felis tincidunt, dictum consequat nulla sodales. Duis sed convallis tortor. Aenean eget sem at eros lacinia sagittis. Aenean vulputate sapien vitae felis ullamcorper aliquam. Aliquam vel massa consequat, pharetra lorem at, porttitor ex. Ut ultricies ex nec porta pretium. Quisque malesuada eget tellus quis mollis. Donec placerat porttitor ex. Proin ut metus eget dui commodo condimentum. Nulla facilisi. Aliquam urna orci, facilisis a odio vel, lacinia pellentesque erat. Donec mi nunc, porttitor non consectetur vitae, tempus et diam. Vestibulum elementum suscipit felis et aliquet. Donec malesuada massa nec odio blandit egestas. Praesent quis enim tellus. Nam pulvinar aliquet neque eu convallis. Donec nisi tortor, molestie vitae eleifend non, sollicitudin vel tellus. Nam iaculis ac massa a viverra. Quisque eleifend eu mi in feugiat. Nam a ullamcorper nulla, eget rutrum sem. Etiam est neque, porttitor at purus ac, sodales feugiat ligula. Nulla tristique velit ac sapien semper sollicitudin. Fusce dapibus, dolor eget iaculis interdum, neque elit rhoncus erat, eu dignissim mauris orci ac velit. In volutpat odio vitae orci fringilla, sit amet rhoncus ex porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam condimentum feugiat enim, eget luctus neque eleifend sed. Maecenas tempor ligula sit amet tortor scelerisque hendrerit. Nulla ultrices odio et tortor pretium pulvinar. Sed pulvinar at dolor in dapibus. Sed lobortis lectus nec lobortis maximus. Vivamus mi erat, fringilla sagittis facilisis ut, cursus vel orci. Maecenas sed nibh dignissim, mollis est quis, dignissim dui. Donec et enim tristique, sagittis dui vitae, ultricies elit. Maecenas molestie ligula vitae felis viverra tempus. Nunc porttitor, nunc eu finibus auctor, neque purus euismod lorem, id aliquet nulla erat a justo. Proin eget felis id magna cursus auctor. Nunc faucibus condimentum tellus id volutpat. Donec ut ligula ac elit aliquam pharetra ac non urna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non varius leo. Proin lacinia vitae leo et rutrum. Curabitur accumsan est non lacus rhoncus venenatis. Phasellus blandit tortor in sem euismod, venenatis tincidunt urna placerat. Integer quam ipsum, placerat sed volutpat eu, cursus sed orci. Mauris ultricies sit amet massa placerat malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet leo auctor, tincidunt ipsum non, rhoncus est. Suspendisse blandit leo vel mi imperdiet condimentum. Nulla facilisi. Nullam pellentesque facilisis ligula, vitae bibendum justo rutrum vitae. Phasellus scelerisque venenatis tempus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam convallis, ante ut scelerisque ultricies, lorem dolor dictum lectus, et aliquam nisl dolor nec massa. Aenean ullamcorper facilisis facilisis. Nullam tempor nisl felis, eu malesuada sem rutrum ut. Mauris commodo viverra ipsum at euismod. Cras ac maximus lacus, vel rutrum tortor. Fusce ut justo gravida, tincidunt eros eget, vestibulum purus. Nullam nunc augue, luctus at massa et, sagittis pellentesque magna. Nunc convallis turpis at pretium fermentum. Maecenas interdum magna ut felis tincidunt, dictum consequat nulla sodales. Duis sed convallis tortor. Aenean eget sem at eros lacinia sagittis. Aenean vulputate sapien vitae felis ullamcorper aliquam. Aliquam vel massa consequat, pharetra lorem at, porttitor ex. Ut ultricies ex nec porta pretium. Quisque malesuada eget tellus quis mollis. Donec placerat porttitor ex. Proin ut metus eget dui commodo condimentum. Nulla facilisi. Aliquam urna orci, facilisis a odio vel, lacinia pellentesque erat. Donec mi nunc, porttitor non consectetur vitae, tempus et diam. Vestibulum elementum suscipit felis et aliquet. Donec malesuada massa nec odio blandit egestas. Praesent quis enim tellus. Nam pulvinar aliquet neque eu convallis. Donec nisi tortor, molestie vitae eleifend non, sollicitudin vel tellus. Nam iaculis ac massa a viverra. Quisque eleifend eu mi in feugiat. Nam a ullamcorper nulla, eget rutrum sem. Etiam est neque, porttitor at purus ac, sodales feugiat ligula. Nulla tristique velit ac sapien semper sollicitudin. Fusce dapibus, dolor eget iaculis interdum, neque elit rhoncus erat, eu dignissim mauris orci ac velit. In volutpat odio vitae orci fringilla, sit amet rhoncus ex porttitor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam condimentum feugiat enim, eget luctus neque eleifend sed. Maecenas tempor ligula sit amet tortor scelerisque hendrerit. Nulla ultrices odio et tortor pretium pulvinar. Sed pulvinar at dolor in dapibus. Sed lobortis lectus nec lobortis maximus. Vivamus mi erat, fringilla sagittis facilisis ut, cursus vel orci. Maecenas sed nibh dignissim, mollis est quis, dignissim dui. Donec et enim tristique, sagittis dui vitae, ultricies elit. Maecenas molestie ligula vitae felis viverra tempus.
		-# {:style=> "background-color:#e9541f;color:white;text-align:left"}
		.container-fluid
			.row
				.row
					.col-md-5
						.panel.panel-primary
							.panel-heading
								%span.panel-title
									= link_to news_index_path do
										Latest News
							.panel-body
								- @news.each do |news|
									.row
										.col-md-4
											%img.img-rounded{:src=> news.image.thumb.url, :style=>"width:100px"}
										.col-md-8
											.div-news-title{:style=> "color:#e9541f"}
												= news.title
											.div-news-date-created{:style=> "color:gray;font-size:xx-small"}
												by: #{news.author} at #{news.created_at.to_formatted_s(:short)}
									.row
										.col-md-12
											.div-news-content{:style=> "color:gray"}
												= news.caption
											.div-news-seemore.pull-right
												= link_to news_path(news) do
													%span{:style=> "color:gray;font-size:10px"}See more
									%hr
					.col-md-7
						.panel.panel-primary
							.panel-heading
								%span.panel-title
									= link_to events_path do
										Engineering Events
							.panel-body
								- @events.each do |e|
									.div-event{:style=> "padding-bottom:10px"}
										.div-event-title{:style=> "color:#e9541f"}
											= e.title
											%span.pull-right
												- if e.upcoming?
													= "Starting #{time_ago_in_words(Time.parse(e.start_date.to_s))} from now"
												- elsif e.ongoing?
													= "Ongoing"
												-	else
													= "Ended #{time_ago_in_words(Time.parse(e.end_date.to_s))} ago"
										.div-event-venue{:style=> "color:grey;font-size:10px"}
											%span.glyphicon.glyphicon-map-marker
												= e.venue
										.div-event-schedule{:style=> "color:grey;font-size:10px"}
											%span.glyphicon.glyphicon-calendar
												From #{e.start_date.to_formatted_s(:long_ordinal)} to #{e.end_date.to_formatted_s(:long_ordinal)}
				-#
				-# %hr
				-# .col-md-1
				-# .col-md-10
				-# 	.news-div
				-# 		.row
				-# 			- @news.each do |news|
				-# 				.row
				-# 					.col-md-9
				-# 						%h2= news.title
				-# 						%span{:style => "color:gray;font-size:xx-small"}= news.created_at.to_formatted_s(:short)
				-# 					.col-md-3
				-# 						= link_to news_path(news) do
				-# 							%h6 See more
				-# 				.row
				-# 					.col-md-9
				-# 						%h6= raw news.content
				-# 				%hr
				-# .col-md-1
