= form_for form_model, url: {action: action} do |f|
	- if form_model.errors.any?
		%div
			%h2
				= pluralize(form_model.errors.count, 'error')
				prohibited this event from being saved:
			%ul
				- form_model.errors.full_messages.each do |message|
					%li= message
	.container
		.row
			.form-group
				= f.label :title
				= f.text_field :title, class: "form-control"
			.form-group
				= f.label :description
				= f.text_area :description, size: "150", class: "form-control"
			.form-group
				= image_tag(form_model.image.thumb.url) if form_model.image?
				= f.label :image
				= f.file_field :image, class: "form-control"
				= f.hidden_field :image_cache
			- if form_model.image?
				.form-group
					%label
						= f.check_box :remove_image
						Remove Image
			.form-group
				= f.label :venue
				= f.text_field :venue, class:"form-control"
			.form-group
				= f.label :startDate
				#datetimepickerstart.input-group.date
					= f.text_field :startDate, class:"form-control"
					%span.input-group-addon
						%span.glyphicon.glyphicon-calendar
			.form_group
				= f.label :endDate
				#datetimepickerend.input-group.date
					= f.text_field :endDate, class:"form-control"
					%span.input-group-addon
						%span.glyphicon.glyphicon-calendar
		.row
			%div
				= f.submit action.capitalize + " Event"

:javascript
	$(function () {
				$('#datetimepickerstart').datetimepicker({
					format: 'YYYY-MM-DD HH:mm A'
				});
				$('#datetimepickerend').datetimepicker({
					format: 'YYYY-MM-DD HH:mm A',
					useCurrent: false //Important! See issue #1075
				});
				$("#datetimepickerstart").on("dp.change", function (e) {
					$('#datetimepickerend').data("DateTimePicker").minDate(e.date);
				});
				$("#datetimepickerend").on("dp.change", function (e) {
					$('#datetimepickerstart').data("DateTimePicker").maxDate(e.date);
				});
	});
