.container
  %h1 Event#index
  .pull-right
    = link_to new_event_path do
      %button.btn.btn-success.btn-sm{:role=> "button"}
        %i.glyphicon.glyphicon-plus
          Event

  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Description
        %th Image
        %th Venue
        %th Start Date
        %th End Date

    %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.content
        %td= image_tag(event.image.thumb.url)
        %td= event.venue
        %td= event.startDate
        %td= event.endDate
        %td
          = link_to edit_event_path(event) do
            %button.btn.btn-success.btn-sm{:role=>"button"}
              %i.glyphicon.glyphicon-edit
              Edit event
        %td
          = link_to event, method: :delete, data: {confirm: 'Do you want to delete this event?', verify: 'Delete', verify_text: 'Type "Delete" to confirm'} do
            %button.btn.btn-danger.btn-sm{:role=>"button"}
              %i.glyphicon.glyphicon-trash
                Delete
